<!DOCTYPE html>
<html lang="de-ch" data-theme="default">
    <%- include("./snippets/head.ejs", {
        title,
        desc,
        date,
        ORIGIN,
        path,
        PORT,
        ENVIRONMENT,
        extra: '<link rel="preload" href="/img/placeholder.gif" as="image">'
    }); %>
    <body data-barba="wrapper">
        <%- include("./snippets/header.ejs", {
            title,
            ORIGIN,
            path,
            chat,
            user
        }); %>
        <%- include("./snippets/nav.ejs", {
            title,
            ORIGIN,
            path,
            user,
            chat
        }); %>
        <% if (chat.open) { %>
        <%- include("./snippets/messages.ejs", {
            title,
            ORIGIN,
            path,
            chat,
            user
        }); %><% 
        } else { %>
        <main data-barba="chat-container" data-barba-namespace="empty-chat"></main><%
        }; %>
        <div id="file-menu" class="invisible" data-barba-prevent="all">
            <label for="image-file" id="fallback___label-image-file">
                <img alt="Ein Bild" title="Bild hochladen" src="/img/svg/image.svg">
            </label>
            <label for="3d-file" id="fallback___3d-file">
                <img alt="Ein 3D Modell" title="3D-Modell hochladen" src="/img/svg/model.svg">
            </label>
            <button type="button" id="send-image">Bild senden</button>
            <button type="button" id="send-3d">3D-Modell senden</button>
            <button type="button" id="close-file-menu">
                <img alt="X" title="Menu schliessen" src="/img/svg/close.svg">
            </button>
            <input class="invisible" type="file" id="image-file" accept="image/png, image/jpg, image/gif, image/jpeg, image/tiff, image/raw, image/bpm, image/webp, image/ico">
            <input class="invisible" type="file" id="3d-file" accept=".glb">
        </div>
        <div id="transition"></div>
    </body>
</html>