<% if (chat.open === false) { %>
<script>
    window.location.href = "/chat?email=max.mustermann@timondev.com";
</script>
<% } else { %>

<!DOCTYPE html>
<html lang="de-ch" data-theme="default">
    <%- include("./snippets/head.ejs", {
        title,
        desc,
        date,
        ORIGIN,
        path,
        PORT,
        ENVIRONMENT
    }); %>
    <body data-barba-type="wrapper">
        <%- include("./snippets/header.ejs", {
            title,
            ORIGIN,
            path,
            chat,
            user
        }); %>
        <%- include("./snippets/nav.ejs", {
            title,
            ORIGIN,
            path,
            user,
            chat
        }); %>
        <% if (chat.open) { %>
        <%- include("./snippets/messages.ejs", {
            title,
            ORIGIN,
            path,
            chat
        }); %><% 
        } else { %>
        <main data-barba-type="chat-container" data-barba-namespace="empty-chat">
            <!-- Some pretty placeholder -->
        </main><%
        }; %>
        <div id="transition"></div>
    </body>
</html>




<% } %>