<!DOCTYPE html>
<html lang="de-ch">
<%- include("./snippets/head.ejs", {
    title: title,
    desc: desc
}); %>
<body>
    <%- include("./snippets/header.ejs", {
        title: title,
        desc: desc
    }); %>
    <%- include("./snippets/nav.ejs", {
        title: title,
        desc: desc
    }); %>
    <main></main>
    <%- include("./snippets/footer.ejs", {
        title: title,
        desc: desc
    }); %>
</body>
</html>