/* Global */

:root {
    --header-height: 80px;
}

body {
    background: radial-gradient(circle at center, var(--background-200), var(--background-50));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

main {
    position: fixed;
    top: calc(var(--header-height));
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: 0;
    background: transparent;
    background: -moz-linear-gradient(90deg, transparent 40%, var(--background-50-75) 100%);
    background: -webkit-linear-gradient(90deg, transparent 40%, var(--background-50-75) 100%);
    background: linear-gradient(90deg, transparent 40%, var(--background-50-75) 100%);
    transition: all 0.5s;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
}

.auth-wrapper {
    --t: 0;
    --b: 0;
    --l: 60%;
    --r: 0;
    --w: 40%;
    --h: 100%;
    position: absolute;
    top: var(--t);
    bottom: var(--b);
    left: var(--l);
    right: var(--r);
    width: var(--w);
    height: var(--h);
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: all;
}

.auth-container {
    margin: 3rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0.75rem;
    background-color: var(--background-500-25);
    color: var(--text-950);
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login,
.sign-up {
    margin-top: 1.5rem;
}

.auth-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-950);
    line-height: 3rem;
    text-align: center;
}

.auth-input {
    width: 100%;
    border: 1px solid var(--text-100);
    border-radius: 0.375rem;
    background-color: var(--background-50-75);
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    transition: all 0.25s ease;
    outline: none;
    color: var(--text-950);
    font-size: 1.05rem;
    line-height: 1.3rem;
    margin-bottom: 0.5rem;
}

.auth-input:focus,
.auth-input:hover {
    border-color: var(--secondary-500);
}

.auth-label {
    display: block;
    color: var(--text-900);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.auth-group {
    margin: 0.25rem 0;
}

.auth-change {
    text-align: center;
    padding: 0 0.5rem
}

#auth-toggler {
    color: var(--accent-600);
    transition: all 0.25s ease;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05ch;
}

#auth-toggler:hover {
    color: var(--accent-500);
}

.auth-button {
    display: block;
    width: 100%;
    height: 3rem;
    background-color: var(--secondary-600);
    color: var(--text-50);
    padding: 0.75rem;
    margin: 1rem 0 0.75rem 0;
    border: none;
    border-radius: 0.375rem;
    font-size: 1.05rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.auth-button:hover {
    background-color: var(--secondary-500);
}

.auth-button:active {
    background-color: var(--secondary-400);
}

.auth-picture {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.auth-picture[src="/img/svg/user.svg"] {
    border-radius: 0;
}

#threejs-bg {
    position: fixed;
    top: var(--header-height);
    left: 0;
    max-width: 100%;
    max-height: calc(100% - var(--header-height));
    z-index: 0;
}

/* Desktop */

/* Tablet */

@media screen and (min-width: 750px) and (max-width: 999px) {

    .auth-wrapper {
        --t: 0;
        --b: 0;
        --l: 0;
        --r: 0;
        --w: 100%;
        --h: 100%;
        display: grid;
        place-items: center;
    }

    .auth-container {
        background-color: var(--background-500-50);
    }
}

@media screen and (min-width: 575px) and (max-width: 749px) {

    .auth-wrapper {
        --t: 0;
        --b: 0;
        --l: 0;
        --r: 0;
        --w: 100%;
        --h: 100%;
        display: grid;
        place-items: end;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .auth-container {
        background-color: var(--background-500-50);
        margin: 3rem auto;
    }
}

/* Mobile */

@media screen and (max-width: 575px) {

    .auth-wrapper {
        --t: 0;
        --b: 0;
        --l: 0;
        --r: 0;
        --w: 100%;
        --h: 100%;
        display: grid;
        place-items: end;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .auth-container {
        margin: 2rem auto;
        padding: 1rem;
    }
}

@media screen and (max-width: 260px) {

    .auth-wrapper {
        --l: 5%;
        --r: 5%;
        --w: 90%;
    }
}