/* Global */

:root {
    --header-height: 80px;
    --header-width: 100%;
    --nav-height: 80px;
    --nav-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--header-width);
    height: var(--header-height);
    background-color: var(--background-50);
    -webkit-box-shadow: 0 1px 1px 0 var(--background-950-25);
    box-shadow: 0 1px 1px 0 var(--background-950-25);
    z-index: 101;
}

.banner {
    display: flex;
    height: 100%;
}

.logo {
    margin-left: 5vw;
    padding: calc(var(--header-height) / 10);
    box-sizing: border-box;
    border-radius: calc(var(--header-height) / 5);
    filter: none !important;
}

.banner-text {
    margin-right: 5vw;
    padding: calc(var(--header-height) / 10);
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: "Teko", monospace;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--text-950);
}

#header-contact {
    display: flex;
    align-items: center;
    height: var(--header-height);
    width: 100%;
}

a.profile-picture {
    height: 100%;
    aspect-ratio: 1 / 1;
}

#contact-profile-picture {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10%;
    margin: 0 1dvw;
    object-fit: cover;
}

#contact-name {
    --font-size: 50px;
    --lh: 1.25;
    width: 100%;
    padding: 0 2.5dvw;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    font-size: var(--font-size);
    line-height: var(--lh);
}

nav {
    --bs: 0 -1px 1px 0 var(--background-950-25);
    position: fixed;
    bottom: 0;
    left: 0;
    width: var(--nav-width);
    height: var(--nav-height);
    background-color: var(--background-50);
    -webkit-box-shadow: var(--bs);
    box-shadow: var(--bs);
    box-sizing: border-box;
    z-index: 100;
}

main {
    --w: 100%;
    --h: calc(100% - var(--header-height) - var(--nav-height));
    --t: var(--header-height);
    --l: 0;
    --scb: calc(var(--header-height) * 2 / 3);
    position: fixed;
    top: var(--t);
    left: var(--l);
    height: var(--h);
    width: var(--w);
    overflow-y: auto;
    padding-bottom: var(--scb);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.chat-input-wrapper {
    --b: var(--nav-height);
    --l: 0;
    --h: calc(2 * var(--nav-height) / 3);
    --w: 100%;
    --g: calc(var(--h) / 6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--g);
    padding: 0 var(--g);
    position: fixed;
    bottom: var(--b);
    left: var(--l);
    height: var(--h);
    width: var(--w);
    box-sizing: border-box;
    background-color: transparent;
    z-index: 2;
}

#transition {
    --w: 100%;
    --h: calc(100% - var(--header-height) - var(--nav-height));
    --t: var(--header-height);
    --l: 0;
    position: fixed;
    top: var(--t);
    left: var(--l);
    height: var(--h);
    width: var(--w);
    z-index: 99;
    background-color: var(--background-50);
    transform: translateY(-100%);
}

#show-file-menu {
    --d: calc(var(--h) / 3 * 2);
    width: var(--d);
    height: var(--d);
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-600);
    filter: saturate(1.5) brightness(1.1);
}

#show-file-menu > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2.5%;
    box-sizing: border-box;
    filter: none;
}

:root[data-theme="light"] #show-file-menu > img {
    filter: invert(1);
}

@media (prefers-color-scheme: light) {
    :root[data-theme="default"] #show-file-menu > img {
        filter: invert(1);
    }
}

.main-input-wrapper {
    --m: calc(var(--h) / 6);
    height: calc(100% - 2 * var(--m));
    margin: var(--m);
    margin-left: 0;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

#main-input,
#send {
    display: inline-block;
    height: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: calc(var(--h) / 3 * 2);
}

#main-input {
    font-size: 1.25em;
    flex-grow: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: calc(var(--h) / 3);
    background-color: var(--c-background-50);
    color: var(--c-text-950);
    font-weight: 500;
}

#send {
    background-color: var(--primary-500);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#send > img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 2.5%;
    margin: 0 calc(var(--h) / 5);
    box-sizing: border-box;
}

#file-menu {
    display: grid;
    grid-template-columns: 1fr 30vw 1fr 30vw 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-50-50);
    z-index: 9999;
}

#file-menu > label:nth-child(1) {
    grid-area: 2 / 2 / 3 / 3;
}

#file-menu > label:nth-child(2) {
    grid-area: 2 / 4 / 3 / 5;
}

#file-menu > button:not([id="close-file-menu"]) {
    background-color: red;
}

#send-image {
    grid-area: 4 / 2 / 5 / 3;
}

#send-3d {
    grid-area: 4 / 4 / 5 / 5;
}

#close-file-menu {
    grid-area: 6 / 3 / 7 / 4;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
}

#close-file-menu > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 50%;
}

/* Messages */

main[data-barba="chat-container"] {
    --p: 12px;
    display: flex;
    flex-direction: column;
    padding: var(--p);
    padding-bottom: var(--scb);
}

.outer-message {
    --p2: calc(var(--p) * 2);
    color: var(--text-950);
    max-width: 75%;
    margin: calc(var(--p) / 2) 0;
    padding: calc(var(--p) / 3 * 2) var(--p);
}

.user-message.outer-message {
    align-self: flex-end;
    background-color: var(--primary-500);
    background: linear-gradient(90deg, var(--primary-300) 0%, var(--primary-500) 100%);
    padding-right: var(--p2);
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) var(--p), calc(100% - var(--p)) 100%, 0 100%);
}

.user-message.outer-message::selection,
.user-message.outer-message > *::selection {
    background-color: var(--accent-400);
}

.contact-message.outer-message {
    background-color: var(--secondary-500);
    background: linear-gradient(90deg, var(--secondary-500) 0%, var(--secondary-300) 100%);
    padding-left: var(--p2);
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--p) 100%, var(--p) var(--p));
}

.contact-message.outer-message::selection,
.contact-message.outer-message > *::selection {
    background-color: var(--primary-500);
}

.outer-message > p.inner-message {
    margin: 0;
    text-wrap: pretty;
}

.outer-message > img.inner-message {
    max-height: 65vh;
    max-width: 100%;
}

.outer-message > iframe.inner-message {
    width: 100%;
    height: 50vh;
    border: none;
    outline: none;
    resize: vertical;
    max-height: 100vh;
    min-height: 10vh;
}

.outer-message:has( > iframe.inner-message) {
    width: 75%;
}

/* Desktop */

@media screen and (min-width: 1200px) {

    :root {
        --nav-height: calc(100% - var(--header-height));
        --nav-width: 30%;
    }

    nav {
        --bs: 1px 0 1px 0 var(--background-950-25);
    }

    main,
    #transition {
        --l: var(--nav-width);
        --b: 0;
        --w: calc(100% - var(--l));
        --h: calc(100% - var(--header-height));
        --scb: var(--header-height);
    }

    .chat-input-wrapper {
        --b: 0;
        --l: var(--nav-width);
        --w: calc(100% - var(--l));
        --h: var(--header-height);
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {

    :root {
        --nav-height: calc(100% - var(--header-height));
        --nav-width: 30%;
    }

    nav {
        --bs: 1px 0 1px 0 var(--background-950-25);
    }

    main,
    #transition {
        --l: var(--nav-width);
        --b: 0;
        --w: calc(100% - var(--l));
        --h: calc(100% - var(--header-height));
        --scb: var(--header-height);
    }

    .chat-input-wrapper {
        --b: 0;
        --l: var(--nav-width);
        --w: calc(100% - var(--l));
        --h: var(--header-height);
    }
}

/* Tablet */

@media screen and (min-width: 750px) and (max-width: 999px) {
    
}

@media screen and (min-width: 575px) and (max-width: 749px) {
    
}

/* Mobile */

@media screen and (max-width: 575px) {

    #contact-name {
        --font-size: 30px;
        --lh: 1;
    }   
}

@media screen and (max-width: 260px) {

    .banner-text {
        font-size: 25px;
        margin: 0;
    }

    .profile-picture:has( > #contact-profile-picture) {
        display: none;
    }

    #contact-name {
        --font-size: 25px;
        --lh: 1.1;
    }
}