<main data-barba="chat-container" data-barba-namespace="chat">
    <div class="chat-input-wrapper">
        <button type="button" id="show-file-menu">
            <img alt="Anhang" title="Datei senden" src="/img/svg/upload.svg">
        </button>
        <div class="main-input-wrapper">
            <input type="text" placeholder="<%= chat.publicInfo.name %> schreiben:" id="main-input" spellcheck="true" autocomplete="off">
            <button id="send">
                <img alt="Senden" title="Nachricht senden" src="/img/svg/send.svg">
            </button>
        </div>
    </div>
    <pre id="history"><%= chat.chatHistory %></pre>
    <pre id="symmetricKey"><%= chat.security.symmetricKey %></pre>
    <pre id="iv"><%= chat.security.iv %></pre>
</main>