<main data-barba-type="chat-container" data-barba-namespace="chat">
    <div class="chat-input-wrapper">
        <button>Files</button>
        <input type="text" placeholder="<%= chat.publicInfo.name %> schreiben:" id="main-input" spellcheck="true">
        <button id="send">Send</button>
    </div>
    <pre id="history"><%= chat.chatHistory %></pre>
    <pre id="symmetricKey"><%= chat.security.symmetricKey %></pre>
    <pre id="iv"><%= chat.security.iv %></pre>
</main>