<main data-barba="chat-container" data-barba-namespace="chat">
    <div class="chat-input-wrapper">
        <button type="button" id="show-file-menu">
            <img alt="Anhang" title="Datei senden" src="/img/svg/upload.svg">
        </button>
        <div class="main-input-wrapper">
            <input type="text" placeholder="<%= chat.publicInfo.name %> schreiben:" id="main-input" spellcheck="true" autocomplete="off">
            <button id="send">
                <img alt="Senden" title="Nachricht senden" src="/img/svg/send.svg">
            </button>
        </div>
    </div>
    <pre id="history"><%= chat.chatHistory %></pre>
    <pre id="symmetricKey"><%= chat.security.symmetricKey %></pre>
    <pre id="iv"><%= chat.security.iv %></pre>
</main>
<div id="file-menu" class="invisible">
    <label for="image-file">
        <img alt="Ein Bild" title="Bild hochladen" src="/img/svg/image.svg">
    </label>
    <label for="3d-file">
        <img alt="Ein 3D Modell" title="3D-Modell hochladen" src="/img/svg/model.svg">
    </label>
    <button type="button" id="send-image">Senden</button>
    <button type="button" id="send-3d">Senden</button>
    <button type="button" id="close-file-menu">
        <img alt="X" title="Menu schliessen" src="/img/svg/close.svg">
    </button>
    <input class="invisible" type="file" id="image-file" accept="image/png, image/jpg, image/gif, image/jpeg, image/tiff, image/raw, image/bpm, image/webp, image/ico">
    <input class="invisible" type="file" id="3d-file" accept=".glb">
</div>